<%= stylesheet_link_tag    'pages', media: 'all', 'data-turbolinks-track': 'reload' %>
<nav class="navber navber-expand-md navbar-light bg-white shadow-sm sticky-top pb-3">
    <div class="container">
        <%= link_to root_path do %>
            <h1><%= image_tag "logo/nia.png", class: "navbar-brand", alt: 'nia' %></h1>
        <% end %>
        <ul class="nav justify-content-end">
          <% if logged_in? %>
            <li class="nav-item">
              <%= link_to 'マイページ', mypage_path, class: 'login btn btn-light' %>
            </li>
          <% else %>
            <li class="nav-item">
              <%= link_to '新規登録', signup_users_path, class: 'signup btn btn-danger mr-2 ' %>
            </li>
            <li class="nav-item">
              <%= link_to 'ログイン', login_path, class: 'login btn btn-outline-primary' %>
            </li>
          <% end %>
        </ul>
    </div>
</nav>
<div class="album py-5 bg-light">
  <div class="container">

    <div class="row">
      <% @items.first(8).each do |item| %>
        <div class="item-body col-xs col-md-3">
          <%= link_to(item_path(item), class:'item-link') do %>  
            <div class="card mb-1 shadow-sm">
              <%= @images.where(item_id:item.id).first(1).each do |i| %>
                <%= image_tag i.image.url %>
              <% end %>
            </div>
            <div class="item-content">
              <p class="font-weight-light"><%= item.name %></p>
              <p class="font-weight-normal"><%= item.price %></p>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>

  </div> 
</div> 

<!-- sell-button -->
<div class="sell-button position-fixed">
  <%= link_to sell_path do %>
    <div class="sell-button-body">
      <span>出品する</span>
    </div>
  <% end %>
</div>
