<div class="text-center mb-4">
    <%= link_to root_path do %>
        <span><%= image_tag "logo/nia.png", class: "navbar-brand mt-4 nia_log" %></span>
    <% end %>

    <h1 class="h3 mt-4 font-weight-normal">取引チャット</h1>
    <%# <ul id="chat-index"> %>
        <%# <% @text.each do |message| %> %>
            <%# <li><%= message.text %></li> %>
        <%# <% end %> %>
    <%# </ul> %>

    <%# <%= form_tag(transaction_index_path) do %> %>
        <%# <input id="chat-form" type="text" data-behavior="chat_post" name="message"> %>
    <%# <% end %> %>
</div>
<h1>Chat room</h1>

<form>
  <label>入力:</label><br>
  <input id="chat-form" type="text" data-behavior="transacion_speak">
</form>
<div id="messages">
  <%= render @messages %>
</div>