<%= stylesheet_link_tag    'items', media: 'all', 'data-turbolinks-track': 'reload' %>
<div class="item-body col-xs col-md-3">
    <div class="item mb-1 shadow-sm">
        <%= @images.each do |i| %>
            <%= image_tag i.image.url %>
        <% end %>
    </div>
    <div class="item-content">
        <p class="font-weight-light"><%= @item.name %></p>
        <p class="font-weight-normal"><%= @item.price %></p>
        <%= link_to '出品者', user_path(@item.seller_id), class: 'btn btn-outline-primary' %>
    </div>
</div>