<%= stylesheet_link_tag    'items', media: 'all', 'data-turbolinks-track': 'reload' %>
<div class="container">
    <div class="item row">
        <% @images.each do |i| %>
            <div class="col-xs col-md-3">
                <div class="item-image mb-1 shadow-sm">
                    <%= image_tag i.image.url %>
                </div>
            </div>
        <% end %>
    </div>
    <div class="item-content">
        <p class="font-weight-light"><%= @item.name %></p>
        <p class="font-weight-normal"><%= @item.price %></p>
        <%= link_to '出品者', user_path(@item.seller_id), class: 'btn btn-outline-primary' %>
    </div>
    <% if !@item.favorite_users.include?(current_user) %>
            <%= link_to favorites_path(item_id: @item.id), method: :post, class: 'btn btn-outline-danger' do %>
                <p>お気に入り</p>
            <% end %>
        <% else %>
            <%= link_to favorite_path(item_id: @item.id), method: :delete, class: 'btn btn-danger' do %>
                <p>お気に入り解除</p>
            <% end %>
    <% end %>
    <%= link_to '購入ページ', item_buy_request_index_path(item_id: @item.id), class: 'btn btn-danger' %>

    <%= link_to '取引画面', _path(item_id: @item.id), class: 'btn btn-danger' %>

</div>